body {
    background-image: linear-gradient(to left,#a3d389,#58d0de);
    margin: 140px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}

form {
    border: 1px solid grey transparent;
    padding: 50px 44px;
    margin: auto;
    width: 50%;
    border-radius: 10px;
    background-image: linear-gradient(90DEG, #a5e5dc, #bae6cd);
    box-shadow: 1px 1px 3px 1px grey;
    font-size: 15px;
    color: #0a3447;
}

input {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    
}

.login {
    background-color: #44a7bb;
    padding: 12px 32px;
    border-radius: 5px;
    border: transparent;
    font-weight: bold;
    color: white;
}

input:focus {
    background-color: #f4fdea;
}

.space {
    padding: 10px;
}

span {
    padding-left: 35px;
    text-decoration: underline;
    color: #184154;
}

a {
    text-decoration: none;
    color: white;
}

